@media all and (min-width: 1720px){
    #wrap, header, section{
        width: 100%;
    }

    header{
        height: 100px;
        background-color: #223184;
    }

    .up_sns>.ham, .logo>a>img.m_logo, .close_icon, .tab_main_news, .p_main_news{
        display: none;
    }

    .margin20{ margin: 20px; }
    .marginBottom40{ margin-bottom: 40px; }

    /* 해더 */

    .in_header{
        width: 1200px;
        height: 100px;
        margin: 0 auto;
    }

    /* 윗 해더 부분 */
    .up_header{
        display: flex;
        align-items: center;
        justify-content: space-between;    
    }

    .up_sns{
        width: 240px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo{
        width: auto;
        float: left;
    }

    .login{
        width: 300px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 600;
    }

    .h_login{
        width: 120px;
        height: 46px;
        border: 4px solid #fff;
        border-radius: 10px;
    }

    .h_login>a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    /* 아래 해더 */

    .header_2{
        border-top: 1px solid black;
        position: fixed;
        top: 100px;
        left: 0;
        z-index: 98;
    }
    .pc_down_header{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .pc_down_header>div.ham{
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .main_menu{
        width: 1100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 24px;
        font-weight: 600;
    }

    .main_menu>li.shop>a{
        display: flex;
        align-items: center;
        color: #fbb700;
    }

    /* 숨김 메뉴 */

    .ham_icon, .close_icon{
        position: absolute;
    }

    .sub_menu_wrap{
        width: 100%;
        height: auto;
        background-color: #223184;
        border-top: 1px solid #000;
        padding-bottom: 25px;
        position: relative;
        top: 0;
        left: 0;
        z-index: 95;
        display: none;
    }

    .sub_menu{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        padding-left: 100px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
    }

    .sub_menu_list{
        font-size: 18px;
        text-align: center;
    }

    .sub_con{ padding-top: 20px;}
    .sub_shop>li>a{ color: #fbb700; }

    /* section_1 : main news */

    .section_1{
        height: 720px;
        position: relative;
        top: 100px;
        left: 0;
    }

    .swiper-container{
        width: 100%;
        height: 100%;
    }

    .section_1 .new_title{
        width: 800px;
        height: 140px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 30px;
        text-align: center;
        font-size: 38px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 70%;
        left: 50%;
        margin-left: -400px;
    }

    .swiper_wrap{
        width: 1200px;
        height: 200px;
        margin: 0 auto;
        position: absolute;
        top: 70%;
        left: 50%;
        margin-left: -600px;
    }

    .swiper-pagination{
        width: 800px;
        height: 20px;
        position: absolute;
        left: 50%;
        bottom: 20px;
        margin-left: -400px;
    }

    .swiper-pagination-bullet{
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    .swiper-pagination-bullet-active{
        background-color: #1d49fb;
        opacity: 0.7;
    }
    .swiper-button-next, .swiper-button-prev,
    .swiper-button-next::after, .swiper-button-prev::after{
        color: rgba(255,255,255,0.7);
        font-size: 50px;
    }

    /* section_2 : matches table */

    .section_2{
        width: 100%;
        height: 700px;
        position: relative;
        top: 100px;
    }

    .section_2>.matches{
        width: 400px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        font-size: 55px;
        font-weight: 800;
        color: #00059d;
        background-color: #ebe6df;
        position: absolute;
        top: -50px;
        left: 50%;
        margin-left: -200px;
    }

    .match_wrap{
        width: 1200px;
        height: 520px;
        margin: 100px auto;
        border: 10px solid #0a2d7f;
        box-sizing: border-box;
    }

    .nextmatch_time{
        width: 1000px;
        height: 120px;
        line-height: 120px;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }

    .match_redbox{
        padding: 5px 15px;
        background-color: red;
        color: white;
        font-weight: 700;
    }

    .time{
        font-size: 20px;
        font-weight: 800;
        padding-left: 30px;
    }
    /* 중간 리그 테이블 */
    .lastmatch, .leaguetable, .nextmatch{
        width: 33.333%;
        height: 400px;
        box-sizing: border-box;
        float: left;
        position: relative;
    }

    .league_title{
        font-size: 20px;
        padding-left: 20px;
        color: #0f49d1;
        font-weight: 800;
        float: left;
    }

    /* 양옆 테이블 */
    .match_bluebox{
        font-size: 12px;
        color: white;
        background-color: #0f49d1;
        margin-right: 15px;
        padding: 5px 15px;
        float: right;
    }

    .match_days{
        width: 100%;
        padding-left: 20px;
        font-size: 13px;
        font-weight: 800;
        float: left;
        margin-bottom: 30px;
    }

    .match_team{
        width: 100%;
        height: 120px;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .lastmatch>div.match_team{
        border-right: 2px solid gray;
    }

    .match_team>div.team_name{
        width: 180px;
        font-size: 25px;
        font-weight: 800;
        color: #393939;
    }

    .score{
        color: #0f49d1;
        font-size: 30px;
        font-weight: 900;
    }

    .match_center>a{
        color: #0f49d1;
        font-weight: 700;
        padding-right: 20px;
        float: right;
    }

    /* 오른쪽 테이블 */
    .nextmatch>div.match_team{
        width: 75%;
        padding-right: 0;
        float: left;
        border-left: 2px solid gray;
    }

    .nextmatch>div.match_team>.team_name{
        width: 150px;
    }

    .match_date{
        width: 25%;
        height: 150px;
        border-left: 2px solid gray;
        float: right;

        font-size: 28px;
        font-weight: 800;
        color: #0f49d1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -75px;
    }

    .days_num{
        font-size: 40px;
    }

    /* 가운데 테이블 */

    .center_table{
        width: 100%;
        height: 250px;
        float: left;
        margin-top: 40px;
        padding: 0 15px;
        box-sizing: border-box;

        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .pos, .team, .play_num, .goal_num, .play_score{
        height: 240px;
        border-top: 2px solid gray;
        color: #393939;
        font-weight: 500;
    }

    .pos{ width: 55px; }
    .team{ width: 200px; }
    .play_num{ width: 40px; }
    .goal_num{ width: 40px;}
    .play_score{ width: 40px;}

    .table_name{
        height: 25px;
        box-sizing: border-box;
    }

    .team_pos, .team_pln, .team_goal, .team_score, .team>.team_name{
        border-top: 2px solid gray;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .team>.team_name{
        justify-content: flex-start;
    }

    .team_logo_name{
        text-align: left;
        margin-left: 10px;
    }

    /* section_3 : 쇼핑몰 바로가기*/

    .section_3{
        height: 650px;
        background: url(../images/shop/shop_bg.png) no-repeat center;
        background-size: cover;
    }

    .shop_wrap{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 60px 0;
        position: relative;

    }

    .left_shop{
        width: 530px;
        height: 490px;
        float: left;
        position: relative;
    }

    .left_shop_title{
        font-size: 33px;
        font-weight: 900;
        color: #002366;
    }

    .left_shop_into{
        width: 280px;
        height: 50px;
        line-height: 50px;
        margin-top: 25px;
        padding-left: 20px;
        box-sizing: border-box;
        background-color: #032ed8;
        border-radius: 15px;
        box-shadow: 1.5px 1.5px 5px dimgray;
    }

    .left_shop_into>a{
        width: 240px;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .left_shop_best_title{
        margin-top: 100px;
        font-size: 30px;
        font-weight: 900;
        color: #002366;
        position: relative;
    }

    .left_shop_best_title::after{
        width: 280px;
        height: 2px;
        content: '';
        background-color: #002366;
        position: absolute;
        left: 230px;
        bottom: 0;
    }

    .left_shop_prd_wrap{
        width: 530px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .prd_box{
        width: 33.333%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prd_con>a{
        width: 90%;
        color: #2a2929;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prd_title{
        width: 100%;
        height: 55px;
        margin-top: 20px;
        text-align: center;
    }

    /* 오른쪽 상품 */

    .right_shop{
        width: 300px;
        height: 400px;
        position: absolute;
        right: 0;
        top: 150px;
        text-align: center;
    }

    .right_shop_title{
        color: #fff;
        font-size: 20px;
        font-weight: 900;
    }

    .right_shop>.swiper-wrapper>.swiper-slide{
        margin-top: 40px;
        width: 100%;
        height: 100%;
    }

    .right_shop>.swiper-wrapper>.swiper-slide>a{
        width: 180px;
        margin: 0 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right_prd_title{
        margin-top: 60px;
        width: 150px;
    }

    .right_prd_price{margin-top: 10px;}

    .right_shop>.swiper-button-prev,
    .right_shop>.swiper-button-next{
        height: 200px;
        top: 70px;
    }

    .recommend_move{
        width: 100%;
        height: 30px;
        position: absolute;
        top: 240px;
        left: 0;
        margin-left: 0px;
    }

    .right_shop>.recommend_move>.swiper-pagination-bullet{
        width: 30px;
        height: 6px;
        border-radius: 0;
        margin: 0 7px;
    }
    .right_shop>.recommend_move>.swiper-pagination-bullet-active{
        background-color: #fff;
        opacity: 0.8;
    }

    /* section_4 : news */

    .section_4{ height: 950px; }

    .news_wrap{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        padding: 65px 0;
        box-sizing: border-box;
    }

    .sec_4_news_bg{ transition-duration: 0.3s;}

    .news_wrap_title{
        font-size: 40px;
        color: #002366;
        font-weight: 900;
        margin-bottom: 30px;
    }

    /* 비디오 뉴스 부분 */
    .video_news{
        width: 780px;
        height: 370px;
        float: left;
        overflow: hidden;
        position: relative;
    }

    .video_news_img{
        width: 100%;
        height: 100%;
    }

    .video_news_con{
        width: 100%;
        height: 100px;
        padding: 0 20px;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .video_news_title{ font-size: 40px; }
    .video_news_date{ font-size: 25px; }
    .video_play{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #0f49d1;
        padding: 10px;
    }

    /* 글자 뉴스 부분 */

    .letter_news, .common_news{
        width: 370px;
        height: 370px;
        position: relative;
    }

    .letter_news{
        float: right;
        border: 10px solid #002366;
        box-sizing: border-box;
    }


    .letter_con, .letter_date{
        color: #393939;
    }

    .letter_title{
        width: 100%;
        color: #002366;
        font-size: 40px;
        font-weight: 900;
        line-height: 45px;
    }

    .letter_con{
        width: 100%;
        font-size: 25px;
        letter-spacing: -1px;
        line-height: 30px;
    }

    .letter_date{
        position: absolute;
        left: 0;
        bottom: 0;
    }

    /* 기본 뉴스 */

    .common_news{ position: relative; overflow: hidden;}

    .common1{ float: left; }
    .common2{ float: left; margin-left: 45px;}
    .common3{ float: right; }

    .common_news_con{
        width: 100%;
        height: 100px;
        background-color: rgba(0,0,0, 0.7);
        box-sizing: border-box;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .common_news_title, .common_news_date{ margin: 18px 14px; position: absolute; left: 0; }
    .common_news_title{ font-size: 22px; top: 0;}
    .common_news_date{ font-size: 14px; bottom: 0;}

    /* section_5 : sns 영역 */
    .section_5{
        height: 850px;
    }

    .sns_wrap{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
    }

    .sns_title{
        margin-top: 150px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        color: #002366;
    }

    .sns_kind_wrap{
        color: #393939;
        display: flex;
        font-size: 25px;
        justify-content: center;
        position: relative;
    }

    .sns_kind{
        width: 200px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        cursor: pointer;
    }

    .sns_select{
        background-color: #0f49d1;
        color: white;
    }

    .sns_con{
        display: none;
    }

    .sns_active{
        display: flex !important;
        justify-content: space-between
    }

    /* 인스타그램 / 트위터 */
    .sns_con{
        width: 1200px;
        height: 250px;
        margin-top: 100px;
    }

    .sns_box, .sns_box>a{
        display: block;
        width: 250px;
        height: 250px;
        position: relative;
        overflow: hidden;
    }

    .sns_con_logo{
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 89;
    }

    .sns_con_logo>img{ width: 35px;}

    .sns_con_text{
        width: 250px;
        height: 60px;
        font-size: 15px;
        line-height: 1.5;
        position: absolute;
        left: 0;
        bottom: 0;

        box-sizing: border-box;
        padding: 10px;
        background-color: rgba(0,0,0,0.7);

        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    /* 유튜브 */
    .sns_con_video{
        width: 380px;
        height: 250px;
        position: relative;
        overflow: hidden;
    }

    .sns_con_video>a>.sns_con_text{
        width: 380px;
        font-size: 18px;
        line-height: 1.3;
    }

    .sns_con_img{
        transition-duration: .3s;
    }
    /* 더 만나보기 */
    .more_sns_wrap{
        width: 100%;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .more_sns_title{
        font-size: 30px;
        font-weight: 900;
        color: #002366;
        margin-bottom: 35px;
    }

    .more_sns_logo{
        width: 600px;
        height: auto;
        display: flex;
        justify-content: space-between
    }
    .more_sns_logo>li>a{display: flex; justify-content: center;}

    /* section_6 : 서포터*/
    .section_6{
        width: 100%;
        height: 600px;
        background-color: white;
    }

    .support_wrap{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        padding-top: 100px;
        box-sizing: border-box;
    }

    .main_spon{
        width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }

    .main_spon img{ height: 100px; }
    .sub_spon{
        width: 1200px;
        margin-top: 50px;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

    .sub_spon>a>img{ width: 100%; }

    /* footer */

    footer{
        height: 250px;
    }

    .footer_wrap{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        padding: 50px 0;
        box-sizing: border-box;
    }

    .up_footer, .down_footer{
        width: 100%;
        height: 75px;
    }

    .left_up_footer, .q_menu, .f_sns_icon{ float: left; }
    .q_menu a{ color: #002366; font-size: 20px; font-weight: 700;}

    .left_up_footer{
        width: 800px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .f_sns{ 
        width: 250px; 
        float: right;
        display: flex;
        justify-content: space-between;
    }

    .f_logo, .addr_box, .copy_box{ float: left; }
    .league_logo{ float: right; }
    .f_logo{ width: 300px; }
    .addr_box, .copy_box{
        width: 500px;
        height: 37.5px;
        font-size: 16px;
        font-weight: 700;
        color: #002366;
        display: flex;
        align-items: center;
    }

    /* 고정 다음 경기 */
    .up_match_box{
        width: 200px;
        height: 250px;
        position: absolute;
        top: 30%;
        left: 80%;
        z-index: 70;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px 0;
        box-sizing: border-box;
    }

    .up_match_title{ text-align: center; padding: 8px 0;}
    .up_match_date{ color: #0072bc;}
    .up_match_date, .up_match_area{ 
        font-size: 15px;
        font-weight: 700;
        line-height: 17px;
    }

    .up_match_detail{
        width: 170px;
        height: 95px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .up_team{ 
        width: 60px;
        height: 100%;
        text-align: center;
        display: flex; 
        flex-direction: column; 
        justify-content: space-around;
    }

    .up_team_name{ font-weight: 700; color: dimgray; }

    .up_vs{
        width: 40px;
        height: 100%;
        font-size: 22px;
        font-weight: 900;
        color: #8b8b8b;
        letter-spacing: -1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .up_detail{
        background-color: #e6e6e6;
        font-weight: 900;
        color: #0072bc;
        margin-top: 8px;
        border-radius: 8px;
        padding: 7px 12px;
    }

    /* 퀵메뉴 */
    .qu_menu{
        width: 70px;
        height: 350px;
        background-color: #707070;
        position: fixed;
        top: 35%;
        left: 91%;
        z-index: 80;
        display: none;
    }

    .qu_con, .qu_con>a{
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .qu_ticket{ background-color: #223184; }
    .qu_btn{ display: none; }

    .top_btn{
        width: 70px;
        height: 70px;
        cursor: pointer;
        position: fixed;
        top: 86.4%;
        left: 91%;
        z-index: 99;
    }
    
} /*end*/